<div class="col-lg-12">
    <div class="col my-2 rectangle-container">
        <div class="text">
            Payment Due
        </div>
        <div class="hruler mb-md-3">
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row mb-2 mr-md-2">
                    <label class="col-md-6 text-md-right label">NEXT DUE</label>
                    <div class="col-md-6 date-input">
                        <div class="row">
                            <input bsDatepicker
                            class="date-picker"
                            placeholder="__/__/____">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mb-2 mr-md-2">
                    <label class="col-md-3 text-md-right label">PAID BY</label>
                    <div class="col-md-9 d-none d-lg-block pt-1">
                        <div class="row">
                            <div class="form-check col-md-6">
                                <label class="form-check-label ">
                                  <input type="radio" class="form-check-input" name="optradio">
                                  <span class="label-picker">BUYER</span>
                                </label>
                            </div>
                            <div class="form-check col-md-6">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optradio">
                                  <span class="label-picker">SELLER</span>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-9 d-lg-none">
                        <div class="row">
                            <select class="col-md-6 text-input">
                                <option>BUYER</option>
                                <option>SELLER</option>
                            </select>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <div class="row mb-2 mr-md-2">
                    <label class="col-md-6 text-md-right label">PAYMENT AMOUNT</label>
                    <div class="col-md-6 text-input">
                        <div class="d-flex" style="height: 18px">
                            <span>$</span>
                            <input type="text" class="assess-value" placeholder="0.00">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row mb-2 mr-md-2">
                    <div class="form-check">
                        <label class="form-check-label label pt-md-2 pt-5">
                          <input type="checkbox" class="form-check-input mt-0" value="">MAKE PAYMENT IF DUE
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>