.rectangle-container {
  background: #ffffff;
  box-shadow: 3px 7px 7px 2px rgba(226, 227, 228, 1);
}

.text {
  color: #134975;
  padding: 5px;
  font-size: 20px;
}

.hruler {
  border: 2px solid #edeeef;
}

.label {
  color: #727272;
  font-size: 11px;
  font-weight: bold;
  padding-top: 10px;
}

.text-input {
  color: #423e37;
  font-size: 14px;
  height: 36px;
  text-align: left;
  padding: 8px;
  border: 1px solid #dbdbdb;
  background: #edeeef;
  border-radius: 5px;
  box-shadow: 4px 0px 5px 0px rgba(219, 220, 221, 1);
}

.money-input {
  height: 18px;
}

.assess-value {
  background: #edeeef;
  border: 0;
  text-align: right;
  flex: 1;
  overflow: hidden;
}

.date-input {
  color: #423e37;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #dbdbdb;
  background: #edeeef;
  border-radius: 5px;
  box-shadow: 4px 0px 5px 0px rgba(219, 220, 221, 1);
  overflow: hidden;
}

.date-picker {
  background: #edeeef;
  border: 0;
  padding: 0;
  width: 80%;
  height: 18px;
  margin-left: 15px;
}

.btn-calc {
  color: #423e37;
  font-size: 14px;
  height: 30px;
  background: #dbdbdb;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(219, 220, 221, 1);
}

.text-small {
  color: #134975;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .text-input {
    margin: 0 15px;
  }

  .date-input {
    margin: 0 15px;
  }

  .text-small {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .text-input {
    background: #fff;
    overflow: hidden;
  }
  .assess-value {
    background: #fff;
  }
  .date-input {
    background-color: #fff;
    overflow: hidden;
  }

  .date-picker {
    background-color: #fff;
  }
}
