<!-- <div class="col-lg-12"> -->
    <div class="col my-2 rectangle-container">
        <div class="text">
            Tax Amounts & Proration
        </div>
        <div class="hruler mb-md-3">
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row mb-2">
                    <label class="col-md-6 text-md-right label">PAYMENT SCHEDULE</label>
                    <select class="col-md-6 text-input">
                        <option 
                            *ngFor="let schedule of schedules" 
                            [value]="schedule"
                            [selected]="schedule == taxInfo.schedule ? true : null"
                        >
                            {{schedule}}
                        </option>

                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="row mb-2 mr-md-2">
                    <label class="col-md-7 text-md-right label">ANNUAL FEE</label>
                    <div class="col-md-5 text-input">
                        <div class="d-flex money-input">
                            <span>$</span>
                            <input type="text" class="assess-value" placeholder="{{taxInfo.annualfee}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-6">
                        <div class="row mb-2">
                            <label class="col-md-5 text-md-right label">JAN-MAR</label>
                            <div class="col-md-7 text-input">
                                <div class="d-flex money-input">
                                    <span>$</span>
                                    <input type="text" class="assess-value" placeholder="{{taxInfo.janmar}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mb-2">
                            <label class="col-md-5 text-md-right label">APR-JUN</label>
                            <div class="col-md-7 text-input">
                                <div class="d-flex money-input">
                                    <span>$</span>
                                    <input type="text" class="assess-value" placeholder="{{taxInfo.aprjun}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mb-2">
                            <label class="col-md-5 text-md-right label">JUL-SEP</label>
                            <div class="col-md-7 text-input">
                                <div class="d-flex money-input">
                                    <span>$</span>
                                    <input type="text" class="assess-value" placeholder="{{taxInfo.julsep}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mb-2">
                            <label class="col-md-5 text-md-right label">OCT-DEC</label>
                            <div class="col-md-7 text-input">
                                <div class="d-flex" style="height: 18px">
                                    <span>$</span>
                                    <input type="text" class="assess-value" placeholder="{{taxInfo.octdec}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 col-6">
                        <div class="row mb-2 mr-md-2">
                            <label class="col-md-6 text-md-right label">PAID THRU</label>
                            <div class="col-md-6 date-input">
                                <div class="row">
                                    <input bsDatepicker
                                    class="date-picker"
                                    placeholder="{{taxInfo.paidthru}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-6">
                        <div class="row mb-2 mr-md-2">
                            <label class="col-md-6 text-md-right label">PRORATION DATE</label>
                            <div class="col-md-6 date-input">
                                <div class="row">
                                    <input bsDatepicker
                                    class="date-picker"
                                    placeholder="{{taxInfo.prorationdate}}">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 my-2">
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn-calc">Calculate Proration</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="">
                    <p class="text-small">Credit to the Buyer for: $594.52 (62 days @ $9.5890/day)</p>
                </div>

            </div>
        </div>
    </div>
<!-- </div> -->
