<div class="col-lg-12">
    <div class="col my-2 rectangle-container">
        <div class="text">
            Additional Information
        </div>
        <div class="hruler mb-md-3">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <label class="label p-md-0">NOTES</label>
                    <label class="text-italic label p-0 d-none d-lg-block">(CHARACTER COUNT 0 / 1000 LIMIT)</label>
                </div>
            </div>
            <div class="col-12 mb-4">
                <textarea class="text-area"></textarea>
            </div>
        </div>
    </div>
</div>
